doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Outfit Details
    link(rel="stylesheet", href="home.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css") 

  body
    nav.brandbar
      span.brand-name ReStyle

    .outfit-details
      h2 Outfit Details
      p This is where detailed information about a specific outfit will be displayed. You can include details such as the description, price, sizes, and category of the outfit here.

    