doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Explore our Special Outfits

    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css")
    link(rel="stylesheet" href="explore.css") 

  body
    nav.brandbar
      span.brand-name ReStyle

    // Moving Banner - Outside Main Content
    .moving-banner
      p ✨
        b Welcome 
        | here you can explore 
        strong ReStyle Outfit 
        | of your wish. Discover & Share Fashion Trends! Offers will be available soon✨

    // Filter Section
    .filter-section
      h2 Filter Outfits
      form#filter-form
        label(for="category") Category:
        select#category(required)
          option(value="" disabled selected) Select Category
          option(value="women") Women
          option(value="men") Men
          option(value="kids") Kids

        label(for="item-name") Item Name:
        select#item-name(required)
          option(value="" disabled selected) Select an Occasion
          option(value="job-interview") Job Interviews
          option(value="wedding") Wedding
          option(value="birthday-party") Birthday Party
          option(value="date-night") Date Night
          option(value="school-events") School Events

        label(for="size") Size:
        select#size(required)
          option(value="selected" disabled selected) Select Size
          option(value="xs") XS (12-13 yrs)
          option(value="s") S (14-15 yrs)
          option(value="m") M (16-17 yrs)
          option(value="l") L (18-19 yrs)
          option(value="xl") XL (20+ yrs)
          option(value="xxl") XXL (Adults, Plus Size)

        button(type="submit") Apply Filters

    // Shared Collection Section
    section#explore-more
      .container
        a.back-home-fixed(href="home") ⬅Home
        b Explore Our Special Outfit

        .outfit-grid
          // Outfit 1
          .outfit-card(data-category="kids" data-size="s" data-name="birthday-party")
            img(src="/images/kids.webp" alt="Outfit 1")
            p Birthday Party
            p Size:S(14-15 yrs)
            p £20
            .btn-container
              button.buy-btn Buy Now
              i.fav-icon.fas.fa-heart(title="Add to saved items") 

          // Outfit 2
          .outfit-card
            img(src="/images/wedding.jpg" alt="Outfit 2")
            h3 Wedding
            p Size:L(18-19 yrs)
            p £100
            .btn-container
              button.buy-btn Buy Now
              i.fav-icon.fas.fa-heart(title="Add to saved items") 

          // Outfit 3
          .outfit-card
            img(src="/images/kidschool.jpg" alt="Outfit 3")
            h3 Kids Skirt
            p Size:S(14-15 yrs)
            p £12
            .btn-container
              button.buy-btn Buy Now
              i.fav-icon.fas.fa-heart(title="Add to saved items") 

          // Outfit 4
          .outfit-card
            img(src="/images/date.jpg" alt="Outfit 4")
            h3 One piece
            p Size:XL(20+ yrs)
            p £22.56
            .btn-container
              button.buy-btn Buy Now
              i.fav-icon.fas.fa-heart(title="Add to saved items") 

          // Outfit 5
          .outfit-card
            img(src="/images/job1.jpg" alt="Outfit 5")
            h3 Double fitted Blazer
            p Size:XL(20+ yrs)
            p £45.98
            .btn-container
              button.buy-btn Buy Now
              i.fav-icon.fas.fa-heart(title="Add to saved items") 

          // Outfit 6
          .outfit-card
            img(src="/images/pant.jpg" alt="Outfit 6")
            h3 Black formal pant
            p Size:L(18-19 yrs)
            p £32.10
            .btn-container
              button.buy-btn Buy Now
              i.fav-icon.fas.fa-heart(title="Add to saved items") 

          // Outfit 7
          .outfit-card
            img(src="/images/mini.jpg" alt="Outfit 7")
            h3 Long Sleeve mini dress
            p Size:L(18-19 yrs)
            p £35
            .btn-container
              button.buy-btn Buy Now
              i.fav-icon.fas.fa-heart(title="Add to saved items") 

          // Outfit 8
          .outfit-card
            img(src="/images/kid2.jpg" alt="Outfit 8")
            h3 Kids top
            p Size:S(14-15 yrs)
            p £20
            .btn-container
              button.buy-btn Buy Now
              i.fav-icon.fas.fa-heart(title="Add to saved items") 

    // Footer Section
    footer
      .footer-container
        p Fashion Icon - ReStyle
        p London, United Kingdom
        p &copy; 2025 Fashion Icon. All rights reserved.
        p Contact us: 
          a(href="tel:+1234567890") +1 (234) 567-890
        p LET'S CONNECT!!
        .social-media
          a(href="#" title="Facebook") 
            i.fa-brands.fa-facebook
          a(href="#" title="Twitter") 
            i.fa-brands.fa-twitter
          a(href="#" title="Instagram") 
            i.fa-brands.fa-instagram
        p: a(href="#share-section") HowToShare
        p: a(href="#privacy-section") Privacy

        
    script(src="script.js") 
